.HomePage{

    .app-name{
        text-decoration: solid;
        font-size: 3rem;
        margin: 20px;
    }
    .team-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 10 px;

       
    }
}