.MatchPage{

    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 60px;

    .year-selector-section{
        justify-self: self-end;
        padding: 20px;
    }

    .page-hiding{
        margin-bottom: 20px auto;
    }
}